.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image {
  cursor: pointer;
}